<section class="modal-overlay" (click)="onClose()">
  <section class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="onClose()">
      &times;
    </button>
    
    <h2>{{ languageService.translate('CHANGE_PASSWORD') }}</h2>
    <div class="divider-line"></div>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="password" formControlName="currentPassword" 
            [placeholder]="languageService.translate('CURRENT_PASSWORD')" required />
      </div>
      
      <div class="form-group">
        <input type="password" formControlName="newPassword" 
            [placeholder]="languageService.translate('NEW_PASSWORD')" required />
      </div>
      
      <div class="form-group">
        <input type="password" formControlName="confirmPassword" 
            [placeholder]="languageService.translate('CONFIRM_PASSWORD')" required />
      </div>
    </form>
    <div class="divider-line"></div>
    <section class="button-section">
        <button type="submit" class="submit-button" (click)="onSubmit()" [disabled]="passwordForm.invalid">
            {{ languageService.translate('CONFIRM') }}
        </button>
    </section>
</section>
</section>