<section class="modal-overlay" (click)="onClose()">
  <section class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="onClose()">
      &times;
    </button>
    
    <h2>{{ translate('CHANGE_PASSWORD') }}</h2>
    <div class="divider-line"></div>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="password" formControlName="currentPassword" 
            [placeholder]="translate('CURRENT_PASSWORD')" required />
      </div>
      
      <div class="form-group">
        <input type="password" formControlName="newPassword" 
            [placeholder]="translate('NEW_PASSWORD')" required />
            <div
              *ngIf="passwordForm.errors?.['passwordsMismatch']
                    && (passwordForm.get('newPassword')?.dirty || passwordForm.get('confirmPassword')?.dirty)" class="error-message">
              {{ translate('PASSWORDS_DO_NOT_MATCH') }}
            </div>
      </div>
      
      <div class="form-group">
        <input type="password" formControlName="confirmPassword" 
            [placeholder]="translate('CONFIRM_PASSWORD')" required />
            <div
              *ngIf="passwordForm.errors?.['passwordsMismatch']
                    && (passwordForm.get('newPassword')?.dirty || passwordForm.get('confirmPassword')?.dirty)" class="error-message">
              {{ translate('PASSWORDS_DO_NOT_MATCH') }}
            </div>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
    <div class="divider-line"></div>
    <section class="button-section">
        <button type="submit" class="submit-button" (click)="onSubmit()" [disabled]="passwordForm.invalid">
            {{ translate('CONFIRM') }}
        </button>
    </section>
</section>
</section>