<header>
  <button (click)="goBack()">
    <img src="../../assets/undo.svg" [alt]="translate('BACK')" />
  </button>
  <img class="logo" src="../../assets/logo.svg" [alt]="translate('LOGO')" />
  <button *ngIf="isUserLoggedIn" (click)="logout()">
    <img src="../../assets/exit.svg" [alt]="translate('LOGOUT')" />
  </button>
</header>

<main>
  <section class="user-info-section">
    <header>
      <button *ngIf="!isEditing" class="edit-button" (click)="enableEditing()">
        <img src="../../assets/edit.svg" [alt]="translate('EDIT_PROFILE')" />
      </button>
    </header>

    <section class="name-section">
      <img [src]="user.settings.photoUrl || '/images/default_photo.png'" [alt]="translate('AVATAR')" class="user-photo" />
      <div *ngIf="isEditing" class="file-upload-wrapper">
        <label class="file-upload-button">
          {{ translate('CHOOSE_PHOTO') }}
          <input 
            type="file" 
            accept="image/*" 
            (change)="onFileSelected($event)"
            class="file-input"
          >
        </label>

        <button class="file-upload-button" (click)="removeAvatar()">
          {{ translate('REMOVE_PHOTO') }}
        </button>
      </div>
      <div class="inputs">
        <form [formGroup]="profileForm">
          <div class="input-container">
            <img src="../../assets/icons/user_black.svg" [alt]="translate('NICKNAME')" class="input-icon">
            <input formControlName="nickName" [readonly]="!isEditing" [placeholder]="translate('NICKNAME')" />  
          </div>
        </form>
      </div>
    </section>

    <div class="divider-line"></div>

    <section class="settings-section">
      <div class="inputs">
        <form [formGroup]="profileForm">
          <label>{{ translate('THEME') }}:</label>
          <div class="input-container">
            <img src="../../assets/icons/theme_black.svg" [alt]="translate('THEME')" class="input-icon">
            <select formControlName="theme">
              <option value="light">{{ translate('LIGHT_THEME') }}</option>
              <option value="dark">{{ translate('DARK_THEME') }}</option>
            </select>
          </div>
          <label>{{ translate('LANGUAGE') }}:</label>
          <div class="input-container">
            <img src="../../assets/icons/language_black.svg" [alt]="translate('LANGUAGE')" class="input-icon">
            <select formControlName="language">
              <option value="ru">{{ translate('RUSSIAN') }}</option>
              <option value="en">{{ translate('ENGLISH') }}</option>
            </select>
          </div>
        </form>
      </div>
      
      <button *ngIf="isEditing" (click)="isPasswordModalOpen = true" class="change-password-button">
        {{ translate('CHANGE_PASSWORD') }}
      </button>
    </section>

    <div class="divider-line" *ngIf="isEditing"></div>

    <div class="button-section">
      <button *ngIf="isEditing" (click)="saveChanges()">
        {{ translate('SAVE') }}
      </button>
    </div>
  </section>
</main>

<app-change-password
  *ngIf="isPasswordModalOpen"
  (close)="isPasswordModalOpen = false">
</app-change-password>